<?php echo $header; ?>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
  <div class="left"></div>
  <div class="right"></div>
  <div class="heading">
    <h1 style="background-image: url('view/image/payment.png');"><?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
  </div>
  <div class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
      <table class="form">
      <tr>
        <td><span class="required">*</span> <?php echo $entry_conta; ?></td>
        <td><div class="help"><?php echo $help_conta; ?></div>
          <input type="text" name="f2b_conta" value="<?php echo $f2b_conta; ?>" />
          <br />
          <?php if ($error_conta) { ?>
          <span class="error"><?php echo $error_conta; ?></span>
          <?php } ?></td>
      </tr>
      <tr>
        <td><span class="required">*</span> <?php echo $entry_senha; ?></td>
        <td><div class="help"><?php echo $help_senha; ?></div>
          <input type="text" name="f2b_senha" value="<?php echo $f2b_senha; ?>" />
          <br />
          <?php if ($error_senha) { ?>
          <span class="error"><?php echo $error_senha; ?></span>
          <?php } ?></td>
      </tr>
      <tr>
        <td><span class="required">*</span> <?php echo $entry_prazo; ?></td>
        <td><div class="help"><?php echo $help_prazo; ?></div>
          <input type="text" name="f2b_prazo" value="<?php echo $f2b_prazo; ?>" />
          <br />
          <?php if ($error_prazo) { ?>
          <span class="error"><?php echo $error_prazo; ?></span>
          <?php } ?></td>
      </tr>
      <tr>
        <td><span class="required">*</span> <?php echo $entry_demonstrativo1; ?></td>
        <td><div class="help"><?php echo $help_demonstrativo1; ?></div>
          <input type="text" name="f2b_demonstrativo1" value="<?php echo $f2b_demonstrativo1; ?>" />
          <br />
          <?php if ($error_demonstrativo1) { ?>
          <span class="error"><?php echo $error_demonstrativo1; ?></span>
          <?php } ?></td>
      </tr>
      <tr>
        <td><?php echo $entry_demonstrativo2; ?></td>
        <td><div class="help"><?php echo $help_demonstrativo2; ?></div>
          <input type="text" name="f2b_demonstrativo2" value="<?php echo $f2b_demonstrativo2; ?>" />
          <br />
	    </td>
      </tr>	  
      <tr>
        <td><?php echo $entry_demonstrativo3; ?></td>
        <td><div class="help"><?php echo $help_demonstrativo3; ?></div>
          <input type="text" name="f2b_demonstrativo3" value="<?php echo $f2b_demonstrativo3; ?>" />
          <br />
	    </td>
      </tr>   
      <tr>
        <td><?php echo $entry_order_status; ?></td>
        <td><select name="f2b_order_status_id">
          <?php foreach ($order_statuses as $order_status) { ?>
          <?php if ($order_status['order_status_id'] == $f2b_order_status_id) { ?>
          <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
          <?php } else { ?>
          <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
          <?php } ?>
          <?php } ?>
        </select></td>		
		</td>
      </tr>
      <tr>
        <td><?php echo $entry_geo_zone; ?></td>
        <td><select name="f2b_geo_zone_id">
            <option value="0"><?php echo $text_all_zones; ?></option>
            <?php foreach ($geo_zones as $geo_zone) { ?>
            <?php if ($geo_zone['geo_zone_id'] == $f2b_geo_zone_id) { ?>
            <option value="<?php echo $geo_zone['geo_zone_id']; ?>" selected="selected"><?php echo $geo_zone['name']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></option>
            <?php } ?>
            <?php } ?>
          </select></td>
      </tr>
      <tr>
        <td><?php echo $entry_status; ?></td>
        <td><select name="f2b_status">
            <?php if ($f2b_status) { ?>
            <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
            <option value="0"><?php echo $text_disabled; ?></option>
            <?php } else { ?>
            <option value="1"><?php echo $text_enabled; ?></option>
            <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
            <?php } ?>
          </select></td>
      </tr>
      <tr>
        <td><?php echo $entry_sort_order; ?></td>
        <td><input type="text" name="f2b_sort_order" value="<?php echo $f2b_sort_order; ?>" size="1" /></td>
      </tr>
    </table>
    </form>
  </div>
</div>
<?php echo $footer; ?>